.blurredBG, #main_window,
.blurredBG.low,
.blurredBG.normal {
    background: alpha(@theme_base_color, 0.70);
    color: @theme_text_color;
    text-shadow: 3px 3px 2px rgba(128, 0, 0, 1);
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.blurredBG.notification {
    background:  rgba(255, 255, 255, 0.4);
}

.blurredBG.notification.critical {
    background: rgba(255, 0, 0, 0.5);
}

.appname {
    font-size: 12px;
}

.time {
    font-size: 12px;
}

.blurredBG.notification.low,
.notificationInCenter.low {
    background: shade(alpha(@theme_base_color, 0.50), 1.0);
}

.blurredBG.notification.normal,
.notificationInCenter.normal {
    background: shade(alpha(@theme_base_color, 0.50), 2.25);
}

.blurredBG.notification.critical,
.notificationInCenter.critical {
    background: rgba(255, 0, 0, 0.5);
}

.blurredBG.notification {
    background:  rgba(40, 42, 54, 0.8);
    border: 1pt black solid;
    border-radius: 8px;
}

.noti-center.time {
    font-size: 32px;
}

.notification.content {
    margin-left: 15px;
    margin-right: 15px;
}