{{- $personal := false -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if eq ( env "PERSONAL" ) "1" -}}
{{-   $personal = true -}}
{{- end -}}

mode = "symlinks"
encryption = "age"

[data]
    osid = {{ $osid | quote }}
    personal = {{ $personal }}
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1ammwn3nsxcz0mdkmr2xz72k4mn7j5ec4v56385hyt49jt8dfkv8qpu6kpr"
